In [4]:
import pandas as pd
import csv

In [9]:
living_plan=pd.read_csv('living-planet-index.csv', delimiter=';', )
living_plan

     Region  Year  Average Index  Upper Index  Lower Index
0    Africa  1970     100.000000   100.000000   100.000000
1    Africa  1971      95.461969   104.910803    87.790567
2    Africa  1972      94.683413   110.867839    81.479839
3    Africa  1973      99.181174   120.870721    81.908753
4    Africa  1974      99.384934   127.877780    77.144610
..      ...   ...            ...          ...          ...
337   World  2014      31.669021    38.071988    26.383458
338   World  2015      31.627531    38.068720    26.281212
339   World  2016      31.145408    37.562137    25.770213
340   World  2017      30.885270    37.343040    25.465452
341   World  2018      30.897567    37.437807    25.400315

[342 rows x 5 columns]

In [15]:
region=living_plan['Region']
pd.unique(region)

array(['Africa', 'Asia and Pacific', 'Europe and Central Asia',
       'Freshwater', 'Latin America and the Caribbean', 'North America',
       'World'], dtype=object)

In [40]:
africa=living_plan.loc[living_plan['Region']=='Africa', :]
asia_pac=living_plan.loc[living_plan['Region']=='Asia and Pacific', :]
euro_cent=living_plan.loc[living_plan['Region']=='Europe and Central Asia', :]
fresh=living_plan.loc[living_plan['Region']=='Freshwater', :]
latin_cab=living_plan.loc[living_plan['Region']=='Latin America and the Carribean', :]
n_am=living_plan.loc[living_plan['Region']=='North America', :]
world=living_plan.loc[living_plan['Region']=='World', :]

In [20]:
grouped=living_plan.groupby('Region')
grouped

In [21]:
for name, group_df in grouped:
    print(name)
    print(group_df)
    break

Africa
    Region  Year  Average Index  Upper Index  Lower Index
0   Africa  1970     100.000000   100.000000   100.000000
1   Africa  1971      95.461969   104.910803    87.790567
2   Africa  1972      94.683413   110.867839    81.479839
3   Africa  1973      99.181174   120.870721    81.908753
4   Africa  1974      99.384934   127.877780    77.144610
5   Africa  1975      96.618078   132.448631    69.761962
6   Africa  1976      92.430197   134.847964    61.837049
7   Africa  1977      87.267120   131.951995    56.343607
8   Africa  1978      80.731541   125.727325    50.860652
9   Africa  1979      76.925431   125.753896    46.266409
10  Africa  1980      76.908188   132.820482    43.880004
11  Africa  1981      79.576741   142.615070    43.644803
12  Africa  1982      76.407779   139.825309    41.075352
13  Africa  1983      73.150326   134.313978    39.057096
14  Africa  1984      68.476122   126.081399    36.338758
15  Africa  1985      63.735696   117.930698    33.653043
16  Africa  1986      59.794008   111.448680    31.480373
17  Africa  1987      57.302263   107.707720    30.151214
18  Africa  1988      56.041719   105.841556    29.465100
19  Africa  1989      55.163692   104.728603    28.956128
20  Africa  1990      53.534121   102.047115    27.992062
21  Africa  1991      52.495761   100.477368    27.323915
22  Africa  1992      52.553061   101.038193    27.247414
23  Africa  1993      52.879718   102.226226    27.229813
24  Africa  1994      53.799025   104.641124    27.489396
25  Africa  1995      53.208982   104.132830    27.013078
26  Africa  1996      53.313998   104.831716    26.997987
27  Africa  1997      52.358948   103.345493    26.479855
28  Africa  1998      51.481283   101.866499    26.052166
29  Africa  1999      50.735496   100.538078    25.653647
30  Africa  2000      49.847821    99.062809    25.194832
31  Africa  2001      47.796942    95.517300    24.047057
32  Africa  2002      45.418295    91.410357    22.772600
33  Africa  2003      43.467075    88.079304    21.584627
34  Africa  2004      43.075903    88.143674    21.047456
35  Africa  2005      42.347510    87.520231    20.352491
36  Africa  2006      41.760891    87.058087    19.843455
37  Africa  2007      41.764032    87.357583    19.829451
38  Africa  2008      42.106512    88.000011    19.957817
39  Africa  2009      42.209775    88.484710    19.960947
40  Africa  2010      41.113392    86.388933    19.391655
41  Africa  2011      39.325635    83.075371    18.496185
42  Africa  2012      36.957405    78.106899    17.359079
43  Africa  2013      34.514539    73.001692    16.184812
44  Africa  2014      32.492869    68.628636    15.238575
45  Africa  2015      31.293573    66.256152    14.669147
46  Africa  2016      32.054221    68.026893    14.968882
47  Africa  2017      34.445875    73.433580    15.991854

In [31]:
for name, group_df in grouped:
    min_year=group_df['Year'].min()
    max_year=group_df['Year'].max()
    print("{} : {}-{}".format(name, min_year, max_year))

Africa : 1970-2017
Asia and Pacific : 1970-2018
Europe and Central Asia : 1970-2018
Freshwater : 1970-2018
Latin America and the Caribbean : 1970-2018
North America : 1970-2018
World : 1970-2018

In [28]:
for name, group in grouped:
    min_average=group['Average Index'].min()
    print('{} : {}'. format(name, min_average))

Africa : 31.2935728
Asia and Pacific : 43.9966301
Europe and Central Asia : 82.2915342
Freshwater : 17.1441894
Latin America and the Caribbean : 6.4136321
North America : 70.2641731
World : 30.8852702

In [38]:
a_2017=living_plan.loc[living_plan['Year']=='2017', :]
a_2017

Empty DataFrame
Columns: [Region, Year, Average Index, Upper Index, Lower Index]
Index: []

In [41]:
latin_cab

Empty DataFrame
Columns: [Region, Year, Average Index, Upper Index, Lower Index]
Index: []